@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

main {
	width: 100vw;
	height: 100vh;
	padding: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: auto;
	align-content: start;
}

main > * {
	z-index: 10;
}

#widget-settings {
	display: block;
	margin: 10px;
	flex: 999 999 auto;
	font-size: x-large;
	color: gray;
	text-shadow: 2px 2px 2px #333;
}

.widget {
	flex: 0 0 auto;
	margin: 10px;
}

.modal {
	display: block;
	position: fixed;
	z-index: 12;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	opacity: 0.8;
}

#widget-settings-container {
	display: block;
	position: fixed;
	z-index: 15;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 10px;
	font-size: x-large;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: auto;
	align-content: start;
}

.settings-icon {
	padding: 10px;
	max-width: 200px;
	height: 5em;
}