@implements IWidgetComponent

<style>
#bg {
	background-image: url('/backgrounds/@Manager.BackgroundImage');
	background-repeat: no-repeat;
	background-color: darkblue;
	opacity: 0.6;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	position: absolute;
	top: 0;
	left: 0;
}
</style>

<div id="bg"></div>